<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".presentation.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/newlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/newlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExploreCaviteAdmin"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.about.aboutus.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.about.terms.TermsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.about.researcher.AddResearcherActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.about.researcher.ResearcherActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_map_api_key" />

        <activity
            android:name=".presentation.view.ViewEventActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.users.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.rvevent.RvEventActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.events.EventsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.addevent.AddEventActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.home.HomeActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yourpackage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>